body{
    position: relative;
}
.header-image{
    background-image: url("/images/small/creamyseafood.jpg");
  background-repeat: no-repeat;
  height: 65vh;
  background-size: cover;
}

.header-text-container{
    text-align: center;
    color: #ae8f59;
    text-align: center;
    margin: 20px 0;
}

.header-text-two{
    font-size: 14px;
}

.intro-text{
    padding: 10px;
    text-align: center;
    max-width: 400px;
    margin: auto;
}

.intro-text h2{
    margin-bottom: 20px;
}


.intro-image{
    background-image: url("/images/small/roastpork.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
}


.image-banner{
    background-image: url("/images/small/seafooddish.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh;
}

.image-banner-card{
    display: none;
}

.menu-prompt-text{
    margin: 20px auto;
    text-align: center;
    max-width: 400px;
    padding: 10px;
}

.menu-prompt-text h2{
    margin-bottom: 20px;
}

.form-input-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reservations-form{
    margin: 10px 0;
    padding: 10px;
    text-align: center;
}

.form-input{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 10px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 18px;
    outline: none;
}

.reservation-prompt{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.61);
    z-index: 100;
    opacity: 0;
    visibility: visible;
    height: 0;
    overflow: hidden;
}

.prompt-card{
    height: 360px;
    background-color: white;
    padding: 100px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    max-width: 500px;
    border-radius: 10px;  
    position: relative;  
    opacity: 0;
    transform: translateY(-100px);
}

.prompt-close-btn{
    border-radius: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    cursor: pointer;
}

.prompt-card i{
    color:#ae8f59;
}

.prompt-card .title-font{
    font-size: 25px;
    margin: 10px 0;
}

.prompt-card .primary-font{
    margin: 10px 0;
}

.show-prompt{
    opacity: 1;
    visibility: visible;
    height: auto;
    overflow: visible;
}

.show-prompt .prompt-card{
    opacity: 1;
    transform: translate(0);
    transition: 0.4s ease;
}



@media only screen and (min-width:860px){
    .header-image{
        background-image: url("/images/large/creamyseafood.jpg");
    }
    
    
    .intro-image{
        height: 45vh;        
    }
}

@media only screen and (min-width:1024px){

    .nav > *{
        animation-name: fadeInDown;
        animation-duration: 0.5s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        opacity: 0;
        transform: translateY(-100%);
    }

    .header{
        display: flex;
    }

    .header-image{
        background-attachment: fixed;
        height: 85vh;
        width: 90%;
    }

    .header-text{
        position: relative;
    }

    .header-text-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .header-text-line{
        display: block;
        width: 1px;
        height: 350px;
        background-color: #ae8f59;
        margin: 75px 0;
    }

    .header-text-container p{
        transform: rotate(270deg);
        font-size: 18px;
    }

    .header-text-one{
        width: 150px;
    }

    
    .intro{
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 100px 0;
    }

    .intro-text p {
        margin: 25px 0;
    }

    .intro-image{
        width: 650px;
        height: 80vh;
    }

    .menu-prompt-text{
        display: none;
    }

    .image-banner{
        height: 90vh;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-banner-card{
        text-align: center;
        display: block;
        background-color: #faf8f1;
        padding: 20px 15px;
        width: 600px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image-banner-card h2, 
    .image-banner-card p, 
    .reservations-form h2{
        margin-bottom: 20px;
    }

    .image-banner-card p{
        max-width: 300px;
    }

    .reservations{
        min-height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .reservations-form{
        width: 900px;
    }

    .form-input-group{
        flex-direction: row;
        justify-content: center;
    }

    .form-input{
        max-width: 200px;
    }

    .form-submit{
        margin: 10px;
    }
    
    
}


