/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 versions
*/

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Sans+Thai+Looped:wght@300&display=swap');

body{
    background-color: #faf8f1;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

img{
    width: 100%;
}

main{
    padding-top: 120px;
}

html{
    scroll-behavior: smooth;
}

.reveal{
    opacity: 0;
}

.primary-font{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

.title-font{
    font-family: 'Abril Fatface', cursive;
}

.background-image{
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; 
}

.nav{
    padding: 20px;
    padding-top: 60px;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #faf8f1;
}

.nav-logo a{
    font-size: 28px;
    color: rgb(0, 0, 0);
}

.nav-toggle{
    position: relative;
    z-index: 1000;
    height: 25px;
    width: 30px;
    cursor: pointer;
}

.nav-toggle span{
    display: block;
    height: 3px;
    width: 100%;
    background-color: black;
    position: absolute;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}

.toggle-one{
    top: 0;
}

.toggle-two{
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.toggle-three{
    bottom: 0;
}




.nav-menu{
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #faf8f1;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.nav-menu-item{
    color: #555;
    font-size: 18px;
    padding: 10px;
}

.order-online-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    background: #06101b;
    text-align: center;
    color: #ae8f59;
    font-size: 18px;
}

.toggle-on .nav-menu{
    height: 100vh;
    overflow: visible;
    visibility: visible;
    opacity: 1;
}




.nav-toggle.show .toggle-one{
    -webkit-transform: translate(3px, 2px) rotate(38deg);
        -ms-transform: translate(3px, 2px) rotate(38deg);
            transform: translate(3px, 2px) rotate(38deg);
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
}

.nav-toggle.show .toggle-two{
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 0;
}

.nav-toggle.show .toggle-three{
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: translate(1px, -1px) rotate(-38deg);
        -ms-transform: translate(1px, -1px) rotate(-38deg);
            transform: translate(1px, -1px) rotate(-38deg);
}


.footer{
    min-height: 40vh;
    background-color: #06101b;
    color: #ae8f59;
    padding: 35px;
}

.footer-divide{
    display: block;
    height: 1px;
    width: 100%;
    background-color: white;
    margin: 15px 0;
}

.footer-group{
    margin: 20px 0;
    width: 250px;
}

.footer-group-title{
    font-size: 28px;
    margin-bottom: 15px;
}

.footer-copyright{
    margin: 10px 0;
}

.footer-socials i{
    margin-right: 10px;
}

.title{
    font-size: 30px;
}

.primary-btn{
    padding: 10px;
    width: 200px;
    margin: 10px auto;
    background-color: #937737;
    color: white;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    border-radius: 0;
}

.primary-btn:hover{
    background-color: #7e662f;
}


@media only screen and (min-width: 900px) {

    .footer{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .footer-container{
        width: 800px;
        margin: auto;
    }
    
    .footer-top, .footer-bottom{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: auto;
    }

    .footer-top{
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .footer-bottom{
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .footer-group:last-child{
        width: 175px;
    }

    .footer-group-text{
        font-size: 20px;
    }
}

@media only screen and (min-width: 1024px) {

    main{
        padding-top: 150px;
    }

    .nav{
        height: auto;
        padding: 50px;
        top: 0;
    }

    .nav-logo a{
        font-size: 32px;
    }

    .toggle-on .nav-menu, .nav-menu{
        position: relative;
        background-color: transparent;
        height: auto;
        overflow: visible;
        opacity: 1;
        visibility: visible;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .nav-menu{
        margin-left: auto;
        margin-right: 150px;
    }

    .nav-menu-item{
        color: black;
    }

    

    .link-line{
        display: block;
        height: 2px;
        width: 100%;
        background-color: black;
        -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transition: 0.2s ease;
        -o-transition: 0.2s ease;
        transition: 0.2s ease;
    }

    .nav-menu li:hover .link-line{
        -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
                transform: scaleX(1);

    }

    .nav-toggle{
        display: none;
    }

    .order-online-link{
        position: relative;
        width: 150px;
        top: 0;
    }

    .order-online-link:hover{
        -webkit-transition: 0.2s ease;
        -o-transition: 0.2s ease;
        transition: 0.2s ease;
        color: white;
    }

    .title{
        font-size: 45px;
    }
    
}


@-webkit-keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@-webkit-keyframes fadeInDown{
    from{
        opacity: 0;
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    to{
        opacity: 1  ;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}


@keyframes fadeInDown{
    from{
        opacity: 0;
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    to{
        opacity: 1  ;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes fadeInUp {
    from{
        opacity: 0;
        -webkit-transform: translateY(100px);
                transform: translateY(100px);
    }
    to{
        opacity: 1  ;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from{
        opacity: 0;
        -webkit-transform: translateY(100px);
                transform: translateY(100px);
    }
    to{
        opacity: 1  ;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

